@{ this.ViewData["Title"] = "Contact"; }

<br />
<br />
<br />
<h2>Thank you for contacting us!</h2>
<h3>Expect a response to the email address you provided.</h3>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />