@using HomeBook.Common
@using HomeBook.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    this.ViewData["Title"] = "Services";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Services - @GlobalConstants.SystemName</title>
    <meta content="" name="descriptison">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/img/favicon.png" rel="icon">
    <link href="~/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,700,700i&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="~/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="~/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/vendor/venobox/venobox.css" rel="stylesheet">
    <link href="~/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/vendor/aos/aos.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/css/style.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: Moderna - v2.0.1
    * Template URL: https://bootstrapmade.com/free-bootstrap-template-corporate-moderna/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top ">
        <div class="container">

            <div class="logo float-left">
                <h1 class="text-light"><a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">@GlobalConstants.SystemName</a></h1>
            </div>

            <nav class="nav-menu float-right d-none d-lg-block">
                <ul>
                    <li class="active"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li class="active"><a asp-area="" asp-controller="About" asp-action="Index">About</a></li>
                    <li class="active"><a asp-area="" asp-controller="Services" asp-action="Index">Services</a></li>
                    <li class="active"><a asp-area="" asp-controller="BlogPosts" asp-action="Index">Blog</a></li>
                    <li class="active"><a asp-area="" asp-controller="Contact" asp-action="Index">Contact</a></li>
                    <partial name="_LoginPartial" />
                </ul>
            </nav><!-- .nav-menu -->

        </div>
    </header><!-- End Header -->

    <main id="main">

        <!-- ======= Our Services Section ======= -->
        <section class="breadcrumbs">
            <div class="container">

                <div class="d-flex justify-content-between align-items-center">
                    <h2>Services</h2>
                    <ol>
                        <li class="text-light"><a class="" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                        <li>Services</li>
                    </ol>
                </div>

            </div>
        </section><!-- End Our Services Section -->
        <!-- ======= Service Details Section ======= -->
        <section class="service-details">
            <div class="container">

                <div class="row">
                    <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
                        <div class="card">
                            <div class="card-img">
                                <img src="~/img/service-details-1.jpg" alt="...">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Check for unpaid bills</h5>
                                <p class="card-text">Here you can check if you have unpaid bills and taxes.</p>
                                @if (this.SignInManager.IsSignedIn(this.User))
                                {
                                    <div class="btn-get-started text-center"><a asp-area="" asp-controller="Services" asp-action="Bills"><i class="icofont-arrow-right"></i> Check now</a></div>

                                }
                                else
                                {
                                    <div class="read-more text-center"><a asp-area="Identity" asp-page="/Account/Login"><i class="icofont-arrow-right"></i> Check now</a></div>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
                        <div class="card">
                            <div class="card-img">
                                <img src="~/img/service-details-2.jpg" alt="...">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Pay your bills online</h5>
                                <p class="card-text">Pay your bills online while drinking your morning coffee.</p>
                                <div class="read-more text-center"><a href="@GlobalConstants.Epay"><i class="icofont-arrow-right"></i> Read More</a></div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
                        <div class="card">
                            <div class="card-img">
                                <img src="~/img/service-details-3.jpg" alt="...">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Our vision</h5>
                                <p class="card-text">Read more about us, services we provide and the latest news related to technical certification and legislation on our Facebook page.</p>
                                <div class="read-more text-center"><a href="@GlobalConstants.HomeBookFacebook"><i class="icofont-arrow-right"></i> Read More</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
                        <div class="card">
                            <div class="card-img">
                                <img src="~/img/service-details-4.jpg" alt="...">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Our care</h5>
                                <p class="card-text">24/7 Elevator maintenance, stair lighting, intercom system and problems between neighbors. In case of а problem, please contact our operators.</p>
                                <div class="read-more text-center"><a asp-area="" asp-controller="Contact" asp-action="Index"><i class="icofont-arrow-right"></i> Read More</a></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section><!-- End Service Details Section -->
        <!-- ======= Pricing Section ======= -->
        <section class="pricing section-bg" data-aos="fade-up">
            <div class="container">

                <div class="section-title">
                    <h2>Pricing</h2>
                    <p>We will improve the collection of monthly entrance fees. We will ensure transparency of your building financial fund. We will provide you with 24-hour access to our system, for checking current obligations, etc.</p>
                </div>

                <div class="row no-gutters">

                    <div class="col-lg-4 box">
                        <h3>Free</h3>
                        <h4>$0<span>per month</span></h4>
                        <ul>
                            <li><i class="bx bx-check"></i> Free consultation</li>
                            <li><i class="bx bx-check"></i> Preparing an offer</li>
                            <li class="na"><i class="bx bx-x"></i> <span>Collection of the necessary fees</span></li>
                            <li class="na"><i class="bx bx-x"></i> <span>Weekly cleaning</span></li>
                            <li class="na"><i class="bx bx-x"></i> <span>Partial entrance maintenance</span></li>
                        </ul>
                        <a class="get-started-btn" asp-area="" asp-controller="Contact" asp-action="Index">Get Started</></a>
                    </div>

                    <div class="col-lg-4 box featured">
                        <h3>Start package</h3>
                        <h4>$29<span>per month</span></h4>
                        <ul>
                            <li><i class="bx bx-check"></i> Collection of the necessary fees</li>
                            <li><i class="bx bx-check"></i> Weekly cleaning</li>
                            <li><i class="bx bx-check"></i> Partial entrance maintenance</li>
                            <li><i class="bx bx-check"></i> Online check for unpaid bills</li>
                            <li class="na"><i class="bx bx-x"></i> <span>Full building maintenance</span></li>
                        </ul>
                        <a class="get-started-btn" asp-area="" asp-controller="Contact" asp-action="Index">Get Started</></a>
                    </div>

                    <div class="col-lg-4 box">
                        <h3>Full package</h3>
                        <h4>$49<span>per month</span></h4>
                        <ul>
                            <li><i class="bx bx-check"></i> Collection of the necessary fees</li>
                            <li><i class="bx bx-check"></i> Weekly cleaning</li>
                            <li><i class="bx bx-check"></i> Partial entrance maintenance</li>
                            <li><i class="bx bx-check"></i> Online check for unpaid bills</li>
                            <li><i class="bx bx-check"></i> Full building maintenance</li>
                        </ul>
                        <a class="get-started-btn" asp-area="" asp-controller="Contact" asp-action="Index">Get Started</></a>
                    </div>

                </div>

            </div>
        </section><!-- End Pricing Section -->

    </main><!-- End #main -->

    <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

    <!-- Vendor JS Files -->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="~/vendor/php-email-form/validate.js"></script>
    <script src="~/vendor/venobox/venobox.min.js"></script>
    <script src="~/vendor/waypoints/jquery.waypoints.min.js"></script>
    <script src="~/vendor/counterup/counterup.min.js"></script>
    <script src="~/vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="~/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/vendor/aos/aos.js"></script>

    <!-- Template Main JS File -->
    <script src="~/js/main.js"></script>

</body>

</html>